<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteCond %{HTTP_HOST} ^https://gecelyballet.github.io/eu/
$ [NC]
RewriteRule ^(.*)$ https://gecelyballet.com/
/$1 [R=301,L]

</IfModule>
